body {
    margin: 0;
    padding: 0;
    padding-top: 0px;
    margin-top: 0%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Trebuchet MS", "Verdana", sans-serif;
}

.box1{
    height: 200px;
    width: 100%;
    background: linear-gradient(to right, rgb(133, 132, 236), rgb(0, 255, 64));
    padding-left:0px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}
.text1{
    font-style: italic;
    font-size:50px;
    font-weight: 900;
    margin: 0;
}
.text2{
    font-size: 25px;
    font-weight: 600;
}       

.button1{
    height: 50px;
    width: 150px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button1 a {
    color: black;
    text-decoration: none;
}

.button1 a:hover {
    color: black;
}

.nav-row {
    display: flex;
    align-items: center;
    gap: 20px; 
    position: absolute;
    right: 50px;
    bottom: 20px;
}

.button2 {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.button2:hover {
    background-color: white;
    color: black;
}

.img1{
    height: 650px;
    width: 100%;
    background-image: url("https://pointa.ca/wp-content/uploads/2023/10/zakaria-mohie-06BaDK2DlF8-unsplash-scaled.jpg");
    background-size: cover;
    opacity: 0.8;
}

.box2{
    height: 400px;
    width: 50%;
    background-color: black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}